<app-header [showMenu]="true" title="Inicio"></app-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>



<ion-card mode="ios" color="secondary" class="d-flex-center ion-text-center" *ngIf="!loading && products.length">
  <div>
    <h5>{{products.length}}</h5>
    <p>Conductores en Linea</p>
  </div>


</ion-card>







      <!-- ============= productos ============== -->

  <ion-list *ngIf="!loading">
    <ion-item-sliding class="product-item" *ngFor="let p of products">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="p.image" />
        </ion-avatar>
        <ion-label>
          <div class="name"><strong style="color: red;">CONDUCTOR:</strong> {{p.name}}</div>
          <div class="data"> <strong>PATENTE:</strong> <br> <strong>Salida:</strong> <br> <strong>Destino:</strong> <br> <strong>Hora Partida:</strong>
          <br><strong>Asientos Disponibles:</strong>{{p.soldUnits}}
          </div>
          

          <ion-chip color="primary" mode="ios" outline="true">
            <ion-label>VALOR: {{p.price}}</ion-label>
          </ion-chip>


        </ion-label>
      </ion-item>


    <!-- ==================== OPCIONES ==================== -->
      <ion-item-options >
      
    <!-- ============= EDITAR ============== -->
        <ion-item-option (click)="addUpdateProduct(p)">
          <ion-icon class="option-btn" name="create-outline"></ion-icon>
        </ion-item-option>


      <!-- =========== ELIMINAR =========== -->
        <ion-item-option (click)="confirmDeleteProduct(p)" color="danger">
          <ion-icon class="option-btn" name="trash-outline"></ion-icon>
        </ion-item-option>


      </ion-item-options>



    </ion-item-sliding>
  </ion-list>




      <!-- =========== CARGA EN PRODUCTOS =========== -->



  <ion-list *ngIf="loading">
      <ion-item class="product-item" *ngFor="let p of [1,1,1,1,1,1,1,1]">
        <ion-avatar slot="start">
          <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <div>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>

          </div>


        </ion-label>
      </ion-item>

  </ion-list>



  <!------------   SIN PRODUCTOS   ----------->

  <div *ngIf="!loading && !products.length" class="empty">
    <ion-icon  name="shield-outline"></ion-icon>
    <h3>No Hay Productos Disponibles!</h3>
  </div>



<!------------   AGREGAR PRODUCTO   ----------->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addUpdateProduct()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
