.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  height: 100%;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

ion-input {
  flex: 1;
  margin-right: 10px;
}

.map-container {
  width: 100%;
  height: calc(100% - 80px); /* Resta altura del header y form-container */
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-group {
  display: none !important; /* Oculta los botones innecesarios */
}

.mapbox-directions-component-keyline {
  display: none; /* Oculta la línea separadora */
}

.mapbox-directions-steps {
  display: none; /* Oculta las instrucciones paso a paso */
}

.mapbox-directions-route-summary {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.mapboxgl-map {
  height: 100%; /* Utiliza toda la altura disponible */
}
