.small-card {
    width: 400px; /* Ajusta el ancho según lo que necesites */
    height: 100px; /* Ajusta la altura para hacerlo más pequeño */
    max-width: 100%; /* Asegura que no se estire más de lo necesario */
    margin: auto; /* Centra el card si es necesario */
    margin-top: 20px;
}

.card-content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}