.custom-small-rounded-button-save {
    --background: #FFB800; /* Fondo amarillo */
    --color: black;        /* Letras negras */
    --padding-start: 10px; /* Reduce el padding horizontal */
    --padding-end: 10px;   /* Reduce el padding horizontal */
    --padding-top: 8px;    /* Reduce el padding vertical */
    --padding-bottom: 8px; /* Reduce el padding vertical */
    --font-size: 14px;     /* Tamaño de la fuente más pequeño */
    --border-radius: 12px; /* Esquinas redondas */
}

.custom-small-rounded-button-back {
    --background: black;     /* Fondo negro */
    --color: white;          /* Letras blancas */
    --padding-start: 10px; /* Reduce el padding horizontal */
    --padding-end: 10px;   /* Reduce el padding horizontal */
    --padding-top: 8px;    /* Reduce el padding vertical */
    --padding-bottom: 8px; /* Reduce el padding vertical */
    --font-size: 14px;     /* Tamaño de la fuente más pequeño */
    --border-radius: 12px; /* Esquinas redondas */
}