<ion-header>
  <ion-toolbar>
    <ion-title>Chat con {{ productCreatorName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let message of messages$ | async">
      <ion-label>
        <strong>{{ message.senderUid === userUid ? 'Tú' : productCreatorName }}:</strong>
        <p>{{ message.text }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-item>
      <ion-input
        [(ngModel)]="messageText"
        placeholder="Escribe un mensaje..."
        type="text"
      ></ion-input>
      <ion-button (click)="sendMessage()" [disabled]="!messageText.trim()" color="secondary">Enviar</ion-button>
    </ion-item>

    <!-- Botón para salir del chat -->
    <ion-button expand="full" color="warning" (click)="closeChat()">Salir del Chat</ion-button>
  </ion-footer>
</ion-content>
