<app-header [isModal]="true" [title]="product ? 'Actualizar Viaje': 'Agregar Viaje'"></app-header>

<ion-content>

  <form [formGroup]="form" class="ion-padding ion-text-center" (ngSubmit)="submit()" (keypress.enter)="submit()">


<!--  Si existe imagen -->
  <ion-avatar *ngIf="form.value.image">
    <img [src]="form.value.image" />
  </ion-avatar>



<!--  Si no existe imagen -->
<ion-icon class="image-icon" *ngIf="!form.value.image" name="image-outline"></ion-icon>
<br>

<!--  TOMAR/SELECCIONAR IMAGEN-->
<ion-button (click)="takeImage()" mode="ios" size="small" shape="round" color="warning">
  <br color="secondary">  Tomar/Seleccionar <br> <br>
</ion-button>



<!--MARCAR UBICACIONES-->
<ion-item button detail (click)="irAMap()">
  <ion-icon color="primary" slot="start" name="pin-outline"></ion-icon>
  <ion-label>Marcar Ubicaciones </ion-label>
</ion-item>



<!--PATENTE-->
<app-custom-input autocomplete="patente" 
[control]="form.controls.patente"
type="text"
label="Patente Vehiculo"
></app-custom-input>



<!-- Punto de destino-->
    <app-custom-input autocomplete="subname" 
    [control]="form.controls.subname"
    type="text"
    label="Destino"
    ></app-custom-input>
    
<!-- Validadores del Nombre-->
    <div class="validators" *ngIf="form.controls.subname.errors && form.controls.subname.touched">
      <div *ngIf="form.controls.subname.errors?.['required']"> Este Campo es Requerido </div>
      <div *ngIf="form.controls.subname.errors?.['minLenght']">Al menos 4 Caracteres.</div>
    </div>

    <!-- Price-->
    <app-custom-input
    [control]="form.controls.price"
    type="number"
    label="Precio"
    (ionInput)="setNumberInputs()"
    ></app-custom-input>
    
<!-- Validadores del Price-->
    <div class="validators" *ngIf="form.controls.price.errors && form.controls.price.touched">
      <div *ngIf="form.controls.price.errors?.['required']"> Este Campo es Requerido</div>
      <div *ngIf="form.controls.price.errors?.['min']">Precio Minimo no puede ser inferior a 1.</div>
    </div>

    <!-- Sold Units-->
    <app-custom-input
    [control]="form.controls.soldUnits"
    type="number"
    label="Asientos Disponibles"
    (ionInput)="setNumberInputs()"
    ></app-custom-input>
    
<!-- Validadores del S.U-->

    <div class="validators" *ngIf="form.controls.soldUnits.errors && form.controls.soldUnits.touched">
      <div *ngIf="form.controls.soldUnits.errors?.['required']"> Este Campo es Requerido</div>
      <div *ngIf="form.controls.soldUnits.errors?.['min']">Cantidad Minima no puede ser inferior a 1.</div>
    </div>    

    <!-- Hora de salida -->
    <ion-item>
      <ion-label>Hora de Salida</ion-label>
      <ion-datetime
        presentation="time" 
        displayFormat="h:mm A"
        pickerFormat="h:mm A"
        formControlName="departureTime">
      </ion-datetime>
    </ion-item>

    <ion-button   mode="ios" class="ion-margin" type="submit" [disabled]="form.invalid" color="warning"> <strong color="secondary">
    {{ product ? 'Actualizar Viaje': 'Agregar Viaje'}} </strong>
      <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
    </ion-button>


  </form>



</ion-content>